polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec") {
        var program = action.lookup("program");
        if (program == "/usr/share/netctl-tray/netctl-list" ||
            program == "/usr/share/netctl-tray/netctl-switch-to" ||
            program == "/usr/share/netctl-tray/netctl-auto-list" ||
            program == "/usr/share/netctl-tray/netctl-auto-switch-to") {
            return polkit.Result.YES;
        }
    }
});
